

#display {
  font-size: 1.7em;
    font-weight: bold;
  color: darkred; 
  text-align: right; 
  background-color: #eee;
  width: 45vw;
  padding: 2px 10px 2px 2px;
  margin: auto;
  height: 7vh;
  border-radius: 0 0 10px 10px;
}

#formula {
  font-size: 1.1em;
    font-weight: bold;
  color: black;
  text-align: right; 
  background-color: #eee;
  width: 45vw;
  padding: 10px 10px 2px 2px;
  margin: auto;
  height: 5vh;
  border-radius: 10px 10px 0 0;
}
