* {
  font-family: 'ZCOOL QingKe HuangYou';
}

#display {
  color: darkred; 
  text-align: right; 
  background-color: #eee;
  width: 43vw;
  padding: 10px 10px 2px 2px;
  margin: 4px;
  height: 5vh;
  border-radius: 10px;
}

#formula {
  color: darkred; 
  text-align: right; 
  background-color: #eee;
  width: 43vw;
  padding: 10px 10px 2px 2px;
  margin: 4px;
  height: 5vh;
  border-radius: 10px;
}
